In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pickle

update: Jan 27
    drop the auction's price'... how would a user know that? they only jknow the retail price.

In [2]:
with open('df1_raw.pkl', 'r') as picklefile:
    df1_raw = pickle.load(picklefile)
    
with open('lemons.pkl', 'r') as picklefile:
    lemons = pickle.load(picklefile)

In [3]:
lemons

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
12,13,1,12/14/2009,ADESA,2005,4,DODGE,CARAVAN GRAND FWD V6,SE,MINIVAN 3.3L,...,8523.0,10124.0,NaN,NaN,19638,33619,FL,5400.0,0,1623
25,26,1,12/21/2009,ADESA,2004,5,MERCURY,SABLE,LS,4D SEDAN LS PREMIUM,...,6600.0,8074.0,NaN,NaN,5546,33619,FL,4500.0,0,754
31,32,1,12/28/2009,ADESA,2002,7,FORD,EXPLORER 2WD V6,Spo,2D SUV 4.0L SPORT,...,5622.0,6773.0,NaN,NaN,19638,33619,FL,4900.0,0,1220
35,36,1,12/28/2009,ADESA,2001,8,FORD,WINDSTAR FWD V6,LX,PASSENGER 3.8L LX,...,4407.0,5530.0,NaN,NaN,19638,33619,FL,3600.0,0,2322
39,40,1,1/4/2010,ADESA,2005,5,FORD,MUSTANG V6,Bas,2D COUPE,...,11047.0,13224.0,NaN,NaN,19638,33619,FL,8500.0,0,728
41,42,1,1/4/2010,ADESA,2005,5,NISSAN,SENTRA,Bas,4D SEDAN 1.8,...,8115.0,9156.0,NaN,NaN,19638,33619,FL,5200.0,0,594
45,46,1,1/11/2010,ADESA,2004,6,NISSAN,XTERRA 2WD V6,SE,4D SPORT UTILITY,...,10916.0,12432.0,NaN,NaN,19619,33619,FL,7100.0,0,569
47,48,1,1/11/2010,ADESA,2002,8,TOYOTA,COROLLA,CE,4D SEDAN CE,...,5516.0,7088.0,NaN,NaN,19619,33619,FL,3900.0,0,869
48,49,1,1/11/2010,ADESA,2004,6,FORD,FOCUS,SE,4D SEDAN SE,...,6112.0,7097.0,NaN,NaN,19619,33619,FL,4100.0,0,1155
49,50,1,1/11/2010,ADESA,2006,4,PONTIAC,G6 V6,GT,4D SEDAN GT,...,10660.0,12253.0,NaN,NaN,19619,33619,FL,7500.0,0,1003
58,59,1,1/18/2010,ADESA,2004,6,CHRYSLER,PACIFICA FWD,NaN,4D SPORT TOURER,...,9650.0,10993.0,NaN,NaN,19638,33619,FL,6900.0,0,1503
63,64,1,1/18/2010,ADESA,2003,7,TOYOTA,4 RUNNER 2WD V8,SR5,4D SPORT UTILITY SPORT EDITION,...,12146.0,13893.0,NaN,NaN,19638,33619,FL,7900.0,0,1209
66,67,1,1/18/2010,ADESA,2005,5,PONTIAC,GRAND PRIX,GXP,4D SEDAN GXP,...,13219.0,14612.0,NaN,NaN,20928,33619,FL,9100.0,0,1974
68,69,1,1/18/2010,ADESA,2001,9,FORD,FOCUS,ZX3,2D COUPE ZX3,...,4957.0,5927.0,NaN,NaN,19638,33619,FL,3700.0,0,1641
76,77,1,1/25/2010,ADESA,2001,9,CHEVROLET,TAHOE 2WD,Bas,4D SUV 5.3L,...,9808.0,10913.0,NaN,NaN,19619,33619,FL,8300.0,0,2063
79,80,1,1/25/2010,ADESA,2003,7,FORD,EXPEDITION 2WD V8,XLT,4D SUV 4.6L XLT,...,10017.0,11930.0,NaN,NaN,19619,33619,FL,8700.0,0,1137
97,98,1,2/8/2010,ADESA,2002,8,FORD,MUSTANG V6,Bas,2D COUPE,...,7185.0,8419.0,NaN,NaN,5546,33619,FL,6100.0,0,1028
133,134,1,3/1/2010,ADESA,2003,7,SATURN,L SERIES,L20,4D SEDAN L200,...,6222.0,7512.0,NaN,NaN,19638,33619,FL,5100.0,0,1469
137,138,1,3/1/2010,ADESA,2003,7,FORD,FOCUS,SE,4D WAGON,...,5946.0,6848.0,NaN,NaN,19638,33619,FL,5300.0,0,1320
141,142,1,3/1/2010,ADESA,2005,5,CHEVROLET,IMPALA,Bas,4D SEDAN,...,7370.0,9073.0,NaN,NaN,19638,33619,FL,6200.0,0,1703
143,144,1,3/1/2010,ADESA,2001,9,FORD,EXPEDITION 2WD V8,Edd,4D SUV 5.4L EDDIE BAUER,...,8239.0,9329.0,NaN,NaN,5546,33619,FL,8300.0,0,1223
155,156,1,3/8/2010,ADESA,2007,3,CHRYSLER,PT CRUISER,Tou,4D SEDAN,...,9404.0,10479.0,NaN,NaN,19638,33619,FL,6400.0,0,1389
180,181,1,3/29/2010,ADESA,2004,6,CHEVROLET,1500 SILVERADO PICKU,LS,EXT CAB 4.8L,...,8983.0,11326.0,NaN,NaN,19619,33619,FL,8300.0,0,1020
181,182,1,3/29/2010,ADESA,2004,6,FORD,EXPLORER 2WD V6,XLT,4D SUV 4.0L FFV XLT,...,10137.0,11356.0,NaN,NaN,19619,33619,FL,8300.0,0,1155
183,184,1,3/29/2010,ADESA,2004,6,CHRYSLER,PT CRUISER,Bas,4D SEDAN,...,6998.0,9035.0,NaN,NaN,19619,33619,FL,5900.0,0,1215
184,185,1,3/29/2010,ADESA,2002,8,BUICK,PARK AVENUE,Bas,4D SEDAN,...,8546.0,9974.0,NaN,NaN,19619,33619,FL,5900.0,0,2274
219,220,1,4/19/2010,ADESA,2005,5,CHEVROLET,COBALT,Bas,4D SEDAN,...,6971.0,8771.0,NaN,NaN,5546,33619,FL,5600.0,0,728
230,231,1,4/26/2010,ADESA,2006,4,HYUNDAI,SONATA V6,GLS,4D SEDAN GLS,...,9788.0,11295.0,NaN,NaN,19638,33619,FL,6700.0,0,728
249,250,1,5/10/2010,ADESA,2001,9,FORD,MUSTANG V6,Bas,2D COUPE,...,6037.0,7147.0,NaN,NaN,20928,33619,FL,4600.0,0,1103
267,268,1,5/24/2010,ADESA,2006,4,CHRYSLER,PT CRUISER,Bas,4D SEDAN,...,8667.0,9390.0,NaN,NaN,20928,33619,FL,6150.0,0,1215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72710,72742,1,7/8/2009,ADESA,2006,3,SUZUKI,FORENZA 2.0L I4 EFI,NaN,4D SEDAN,...,4816.0,5871.0,NaN,NaN,18111,30212,GA,5200.0,0,505
72729,72761,1,7/22/2009,ADESA,2006,3,CHRYSLER,PT CRUISER 2.4L I4 S,Bas,4D SEDAN,...,6483.0,7595.0,NaN,NaN,18880,30212,GA,5200.0,0,1215
72734,72766,1,7/29/2009,ADESA,2006,3,CHEVROLET,EQUINOX AWD V6 3.4L,LS,4D SUV LS,...,10206.0,12500.0,NaN,NaN,18881,30212,GA,8000.0,0,1633
72743,72775,1,7/29/2009,ADESA,2004,5,CHRYSLER,SEBRING V6 2.7L V6 M,Lim,4D SEDAN LIMITED,...,7418.0,8422.0,NaN,NaN,18881,30212,GA,4950.0,0,1272
72748,72780,1,8/5/2009,ADESA,2008,1,PONTIAC,GRAND PRIX 3.8L V6 S,Bas,4D SEDAN,...,10585.0,11499.0,NaN,NaN,18881,30212,GA,7100.0,0,1974
72749,72781,1,8/5/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 4WD V,Lar,4D WAGON,...,10410.0,11662.0,NaN,NaN,18881,30212,GA,8400.0,0,1857
72750,72782,1,8/5/2009,ADESA,2003,6,DODGE,NEON 2.0L I4 SFI,SXT,4D SEDAN SXT,...,3123.0,4104.0,NaN,NaN,18881,30212,GA,3750.0,0,986
72760,72792,1,8/5/2009,ADESA,2006,3,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 3.7L,...,10795.0,12952.0,NaN,NaN,8172,30212,GA,9000.0,0,594
72764,72796,1,8/12/2009,ADESA,2003,6,FORD,EXPEDITION 2WD V8 4.,XLT,4D SUV 4.6L XLT,...,7711.0,9058.0,NaN,NaN,18881,30212,GA,10000.0,0,1413
72769,72801,1,8/19/2009,ADESA,2003,6,DODGE,CARAVAN FWD V6 3.3L,SE,MINIVAN 3.3L FFV SE,...,4344.0,6014.0,NaN,NaN,18111,30212,GA,4100.0,0,1923
72786,72818,1,8/19/2009,ADESA,2005,4,CHRYSLER,PT CRUISER 2.4L I4 S,Tou,4D SEDAN,...,5279.0,6436.0,NaN,NaN,18111,30212,GA,4400.0,0,1503
72801,72833,1,9/2/2009,ADESA,2005,4,FORD,TAURUS 3.0L V6 EFI,SE,4D SEDAN SE,...,4522.0,5709.0,NaN,NaN,18881,30212,GA,3500.0,0,983
72834,72866,1,9/16/2009,ADESA,2003,6,INFINITI,G35 3.5L V6 MPI,NaN,4D SEDAN,...,9347.0,11143.0,NaN,NaN,20740,30212,GA,10300.0,0,1338
72835,72867,1,9/16/2009,ADESA,2007,2,DODGE,MAGNUM V6 2.7L V6 MP,SE,WAGON 2.7L,...,10663.0,12448.0,NaN,NaN,18111,30212,GA,8200.0,0,1086
72861,72893,1,9/16/2009,ADESA,2003,6,CHEVROLET,IMPALA 3.8L V6 MFI,LS,4D SEDAN LS,...,4936.0,6485.0,NaN,NaN,20740,30212,GA,6700.0,0,2003
72864,72896,1,9/23/2009,ADESA,2006,3,DODGE,STRATUS 4C 2.4L I4 S,SXT,4D SEDAN,...,5612.0,7087.0,NaN,NaN,18881,30212,GA,5100.0,0,1155
72871,72903,1,9/23/2009,ADESA,2001,8,DODGE,CARAVAN FWD 4C 2.4L,SE,MINIVAN 2.4L SE,...,2781.0,3856.0,NaN,NaN,20740,30212,GA,3200.0,0,1923
72892,72924,1,9/30/2009,ADESA,2004,5,CHEVROLET,IMPALA 3.4L V6 SFI,Bas,4D SEDAN,...,4473.0,5886.0,NaN,NaN,18111,30212,GA,4800.0,0,2152
72893,72925,1,9/30/2009,ADESA,2007,2,PONTIAC,GRAND PRIX 3.8L V6 S,Bas,4D SEDAN,...,8564.0,10136.0,NaN,NaN,18111,30212,GA,8000.0,0,1974
72899,72931,1,9/30/2009,ADESA,2005,4,SUZUKI,FORENZA 2.0L I4 EFI,EX,4D WAGON,...,3419.0,4254.0,NaN,NaN,18111,30212,GA,4300.0,0,533
72906,72938,1,10/7/2009,ADESA,2006,3,CHRYSLER,PT CRUISER 2.4L I4 S,Bas,4D SEDAN,...,6090.0,7363.0,NaN,NaN,18881,30212,GA,5300.0,0,1215
72915,72947,1,10/7/2009,ADESA,2007,2,CHRYSLER,SEBRING 4C 2.4L I4 E,Tou,4D SEDAN TOURING,...,9670.0,11489.0,NaN,NaN,18881,30212,GA,7300.0,0,1020
72924,72956,1,10/7/2009,ADESA,2006,3,SUZUKI,RENO 2.0L I4 EFI,NaN,4D SEDAN,...,4998.0,6146.0,NaN,NaN,18881,30212,GA,6000.0,0,505
72931,72963,1,10/7/2009,ADESA,2007,2,CHRYSLER,PT CRUISER 2.4L I4 S,Bas,4D SEDAN,...,9322.0,10358.0,NaN,NaN,18881,30212,GA,6800.0,0,975
72933,72965,1,10/14/2009,ADESA,2002,7,DODGE,CARAVAN FWD V6 3.3L,SE,MINIVAN 3.3L FFV SE,...,3543.0,4684.0,NaN,NaN,18881,30212,GA,3400.0,0,2063
72935,72967,1,10/14/2009,ADESA,2006,3,FORD,FOCUS 2.0L I4 SFI,ZX4,4D SEDAN ZX4,...,6049.0,7385.0,NaN,NaN,18881,30212,GA,4900.0,0,1243
72944,72976,1,11/18/2009,ADESA,2001,8,PONTIAC,MONTANA,NaN,4D MINIVAN EXT 3.4L,...,4700.0,5250.0,NaN,NaN,18111,30212,GA,4115.0,0,5913
72955,72987,1,11/18/2009,ADESA,2007,2,SUZUKI,FORENZA,NaN,4D SEDAN,...,8632.0,9665.0,NaN,NaN,18111,30212,GA,5700.0,0,533
72959,72991,1,11/24/2009,ADESA,2005,4,CHEVROLET,EQUINOX AWD V6,LS,4D SUV LS,...,8293.0,10152.0,NaN,NaN,18881,30212,GA,6600.0,0,1506
72978,73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,...,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993

In [4]:
# create a column where make and model are concat

df1_raw["make_model"] = df1_raw["Make"].map(str) +" " + df1_raw["Model"]

# Extracting year and month the car was purhcased

def clean_month(x):
    x = x.split("/")
    x= x[0]
    return x

def clean_year(x):
    x= x.split("/")
    x = x[2]
    return x


df1_raw["month"] = [clean_month(x) for x in df1_raw["PurchDate"]]
df1_raw["year"] = [clean_year(x) for x in df1_raw["PurchDate"]]

In [5]:
df1_raw["WheelType"].unique()

array(['Alloy', 'Covers', nan, 'Special'], dtype=object)

In [6]:
# the first set from first half of the df
df2 = df1_raw.ix[:, 1:18]
df2= df2.drop(['PurchDate','Trim','WheelTypeID', 'Model', 'SubModel','TopThreeAmericanName','VehicleAge'], 1)

#second half of the dataset. All to get rid of middle prices
df2a = df1_raw.ix[:,24:]
df2a= df2a.drop(['VehBCost','MMRCurrentRetailCleanPrice','PRIMEUNIT','AUCGUART', 'ones','BYRNO','VNZIP1'], 1)
df2a.head()

,MMRCurrentRetailAveragePrice,VNST,IsOnlineSale,WarrantyCost,make_model,month,year
0,11597.0,FL,0,1113,MAZDA MAZDA3,12,2009
1,11374.0,FL,0,1053,DODGE 1500 RAM PICKUP 2WD,12,2009
2,7146.0,FL,0,1389,DODGE STRATUS V6,12,2009
3,4375.0,FL,0,630,DODGE NEON,12,2009
4,6739.0,FL,0,1020,FORD FOCUS,12,2009

In [7]:
df3_set = pd.concat([df2, df2a], axis=1, join='inner')
df3_set.columns

Index([u'IsBadBuy', u'Auction', u'VehYear', u'Make', u'Color', u'Transmission',
       u'WheelType', u'VehOdo', u'Nationality', u'Size',
       u'MMRCurrentRetailAveragePrice', u'VNST', u'IsOnlineSale',
       u'WarrantyCost', u'make_model', u'month', u'year'],
      dtype='object')

In [7]:
# clean make and model into one category and drop the last 
def clean_make(x):
    x = x.split(" ")
    x= x[0] + " " + x[1]
    return x

df3_set["model"] = [clean_make(x) for x in df3_set["make_model"]]
df3_set.head()

,IsBadBuy,Auction,VehYear,Make,Color,Transmission,WheelType,VehOdo,Nationality,Size,MMRCurrentRetailAveragePrice,VNST,IsOnlineSale,WarrantyCost,make_model,month,year,model
0,0,ADESA,2006,MAZDA,RED,AUTO,Alloy,89046,OTHER ASIAN,MEDIUM,11597.0,FL,0,1113,MAZDA MAZDA3,12,2009,MAZDA MAZDA3
1,0,ADESA,2004,DODGE,WHITE,AUTO,Alloy,93593,AMERICAN,LARGE TRUCK,11374.0,FL,0,1053,DODGE 1500 RAM PICKUP 2WD,12,2009,DODGE 1500
2,0,ADESA,2005,DODGE,MAROON,AUTO,Covers,73807,AMERICAN,MEDIUM,7146.0,FL,0,1389,DODGE STRATUS V6,12,2009,DODGE STRATUS
3,0,ADESA,2004,DODGE,SILVER,AUTO,Alloy,65617,AMERICAN,COMPACT,4375.0,FL,0,630,DODGE NEON,12,2009,DODGE NEON
4,0,ADESA,2005,FORD,SILVER,MANUAL,Covers,69367,AMERICAN,COMPACT,6739.0,FL,0,1020,FORD FOCUS,12,2009,FORD FOCUS

In [9]:
import pickle
with open('original.pkl', 'w') as picklefile:
    pickle.dump(df3_set, picklefile)

In [11]:
df3_set.ix[38298,:]

IsBadBuy                                           1
Auction                                      MANHEIM
VehYear                                         2006
Make                                           MAZDA
Color                                           GREY
Transmission                                    AUTO
WheelType                                      Alloy
VehOdo                                         71739
Nationality                              OTHER ASIAN
Size                                       SMALL SUV
MMRCurrentRetailAveragePrice                   10304
VNST                                              TX
IsOnlineSale                                       0
WarrantyCost                                     920
make_model                      MAZDA TRIBUTE 2WD 4C
month                                             10
year                                            2010
model                                  MAZDA TRIBUTE
Name: 38298, dtype: object

In [9]:
df3_set = df3_set.dropna()
df3_set.head()

,IsBadBuy,Auction,VehYear,Make,Color,Transmission,WheelType,VehOdo,Nationality,Size,MMRCurrentRetailAveragePrice,VNST,IsOnlineSale,WarrantyCost,make_model,month,year,model
0,0,ADESA,2006,MAZDA,RED,AUTO,Alloy,89046,OTHER ASIAN,MEDIUM,11597.0,FL,0,1113,MAZDA MAZDA3,12,2009,MAZDA MAZDA3
1,0,ADESA,2004,DODGE,WHITE,AUTO,Alloy,93593,AMERICAN,LARGE TRUCK,11374.0,FL,0,1053,DODGE 1500 RAM PICKUP 2WD,12,2009,DODGE 1500
2,0,ADESA,2005,DODGE,MAROON,AUTO,Covers,73807,AMERICAN,MEDIUM,7146.0,FL,0,1389,DODGE STRATUS V6,12,2009,DODGE STRATUS
3,0,ADESA,2004,DODGE,SILVER,AUTO,Alloy,65617,AMERICAN,COMPACT,4375.0,FL,0,630,DODGE NEON,12,2009,DODGE NEON
4,0,ADESA,2005,FORD,SILVER,MANUAL,Covers,69367,AMERICAN,COMPACT,6739.0,FL,0,1020,FORD FOCUS,12,2009,FORD FOCUS

In [10]:
df3_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69494 entries, 0 to 72982
Data columns (total 18 columns):
IsBadBuy                        69494 non-null int64
Auction                         69494 non-null object
VehYear                         69494 non-null int64
Make                            69494 non-null object
Color                           69494 non-null object
Transmission                    69494 non-null object
WheelType                       69494 non-null object
VehOdo                          69494 non-null int64
Nationality                     69494 non-null object
Size                            69494 non-null object
MMRCurrentRetailAveragePrice    69494 non-null float64
VNST                            69494 non-null object
IsOnlineSale                    69494 non-null int64
WarrantyCost                    69494 non-null int64
make_model                      69494 non-null object
month                           69494 non-null object
year                            69494 non-null object
model                           69494 non-null object
dtypes: float64(1), int64(5), object(12)
memory usage: 10.1+ MB

In [11]:
holder = list(df3_set["Size"].unique())

In [12]:
holder

['MEDIUM',
 'LARGE TRUCK',
 'COMPACT',
 'LARGE',
 'VAN',
 'MEDIUM SUV',
 'LARGE SUV',
 'SPECIALTY',
 'SPORTS',
 'CROSSOVER',
 'SMALL SUV',
 'SMALL TRUCK']

In [13]:
df3_set.describe()

,IsBadBuy,VehYear,VehOdo,MMRCurrentRetailAveragePrice,IsOnlineSale,WarrantyCost
count,69494.000000,69494.000000,69494.000000,69494.000000,69494.000000,69494.000000
mean,0.096512,2005.355599,71476.487092,8801.659568,0.024822,1276.114240
std,0.295294,1.725448,14564.526298,3084.773443,0.155584,597.527202
min,0.000000,2001.000000,5368.000000,0.000000,0.000000,462.000000
25%,0.000000,2004.000000,61838.000000,6570.000000,0.000000,837.000000
50%,0.000000,2005.000000,73338.500000,8756.000000,0.000000,1169.000000
75%,0.000000,2007.000000,82394.000000,10927.000000,0.000000,1623.000000
max,1.000000,2010.000000,115717.000000,39080.000000,1.000000,7498.000000

In [14]:
df3_set = df3_set.drop(["make_model","WheelType", "Transmission","IsOnlineSale"],1 )

In [15]:
df3_set.head()

,IsBadBuy,Auction,VehYear,Make,Color,VehOdo,Nationality,Size,MMRCurrentRetailAveragePrice,VNST,WarrantyCost,month,year,model
0,0,ADESA,2006,MAZDA,RED,89046,OTHER ASIAN,MEDIUM,11597.0,FL,1113,12,2009,MAZDA MAZDA3
1,0,ADESA,2004,DODGE,WHITE,93593,AMERICAN,LARGE TRUCK,11374.0,FL,1053,12,2009,DODGE 1500
2,0,ADESA,2005,DODGE,MAROON,73807,AMERICAN,MEDIUM,7146.0,FL,1389,12,2009,DODGE STRATUS
3,0,ADESA,2004,DODGE,SILVER,65617,AMERICAN,COMPACT,4375.0,FL,630,12,2009,DODGE NEON
4,0,ADESA,2005,FORD,SILVER,69367,AMERICAN,COMPACT,6739.0,FL,1020,12,2009,FORD FOCUS

In [16]:
# columns that need dummy variables

col_list = ["Auction", "VehYear", "Color", "Size", "VNST","Nationality", "model", "month" ]
df_dict = {}

for i in col_list:
    df_dict[i] = pd.get_dummies(df3_set[i])

frames = df_dict.values()
result = pd.concat(frames, axis=1)
result.head()

,ADESA,MANHEIM,OTHER,1,10,11,12,2,3,4,...,OK,OR,PA,SC,TN,TX,UT,VA,WA,WV
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# df4 includes all the desired columns and the dummies
df4 = pd.concat([df3_set, result], axis=1, join='inner')
df4.head()

,IsBadBuy,Auction,VehYear,Make,Color,VehOdo,Nationality,Size,MMRCurrentRetailAveragePrice,VNST,...,OK,OR,PA,SC,TN,TX,UT,VA,WA,WV
0,0,ADESA,2006,MAZDA,RED,89046,OTHER ASIAN,MEDIUM,11597.0,FL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,ADESA,2004,DODGE,WHITE,93593,AMERICAN,LARGE TRUCK,11374.0,FL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,ADESA,2005,DODGE,MAROON,73807,AMERICAN,MEDIUM,7146.0,FL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,ADESA,2004,DODGE,SILVER,65617,AMERICAN,COMPACT,4375.0,FL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,ADESA,2005,FORD,SILVER,69367,AMERICAN,COMPACT,6739.0,FL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df3_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69494 entries, 0 to 72982
Data columns (total 14 columns):
IsBadBuy                        69494 non-null int64
Auction                         69494 non-null object
VehYear                         69494 non-null int64
Make                            69494 non-null object
Color                           69494 non-null object
VehOdo                          69494 non-null int64
Nationality                     69494 non-null object
Size                            69494 non-null object
MMRCurrentRetailAveragePrice    69494 non-null float64
VNST                            69494 non-null object
WarrantyCost                    69494 non-null int64
month                           69494 non-null object
year                            69494 non-null object
model                           69494 non-null object
dtypes: float64(1), int64(4), object(9)
memory usage: 8.0+ MB

In [19]:
df5_part = df3_set.loc[:,["IsBadBuy", "VehOdo","MMRCurrentRetailAveragePrice","WarrantyCost" ]]
df5_part.head()

   IsBadBuy  VehOdo  MMRCurrentRetailAveragePrice  WarrantyCost
0         0   89046                       11597.0          1113
1         0   93593                       11374.0          1053
2         0   73807                        7146.0          1389
3         0   65617                        4375.0           630
4         0   69367                        6739.0          1020

In [20]:
#combine the two halves of the dataset's columns
df5 = pd.concat([df5_part, result], axis=1, join='inner')

# reset index
df5= df5.reset_index()

df5.head()

,index,IsBadBuy,VehOdo,MMRCurrentRetailAveragePrice,WarrantyCost,ADESA,MANHEIM,OTHER,1,10,...,OK,OR,PA,SC,TN,TX,UT,VA,WA,WV
0,0,0,89046,11597.0,1113,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,93593,11374.0,1053,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,73807,7146.0,1389,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,65617,4375.0,630,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,69367,6739.0,1020,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
from sklearn import preprocessing
def norm(col):
    df = df5[col]
    min_max_scaler = preprocessing.MinMaxScaler()
    np_scaled = min_max_scaler.fit_transform(df)
    df_normalized = pd.DataFrame(np_scaled)
    df5[col] = df_normalized

cols = ["VehOdo","MMRCurrentRetailAveragePrice", "WarrantyCost"]

for item in cols:
    norm(item)

/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)
/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ellenkim/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [22]:
#np_scaled.transform(np_scaled)

In [23]:
df5.head()

,index,IsBadBuy,VehOdo,MMRCurrentRetailAveragePrice,WarrantyCost,ADESA,MANHEIM,OTHER,1,10,...,OK,OR,PA,SC,TN,TX,UT,VA,WA,WV
0,0,0,0.758303,0.296750,0.092524,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,0.799509,0.291044,0.083997,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,0.620205,0.182856,0.131751,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,0.545986,0.111950,0.023877,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,0.579969,0.172441,0.079306,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
import pickle
with open('with_index.pkl', 'w') as picklefile:
    pickle.dump(df5, picklefile)

In [25]:
df5 = df5.drop("index", 1)

In [27]:
df_col = list(df5.columns)

In [28]:
df_col = pd.DataFrame(df_col).T

In [26]:
import pickle
with open('df_columns.pkl', 'w') as picklefile:
    pickle.dump(df_col, picklefile)

In [26]:
import pickle
with open('cleanv1.pkl', 'w') as picklefile:
    pickle.dump(df5, picklefile)

In [27]:
import pickle
with open('drop_wt_trans.pkl', 'w') as picklefile:
    pickle.dump(df5, picklefile)